/* NAVEGADOR DESDE CERO */
/* 

.img1{
    width: 100px;
}

.nav{
    display: flex;
}

.nav ul{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.nav ul li{
    list-style: none;
    padding: 0px 12px;
}

.nav ul li a{
    text-decoration: none;
    font-size: 25px;
} */

/* .imagenes{
    display: flex;
    justify-content: center;
    gap: 40px;
    grid-column:initial;
} */

.imagenes{
    display: flexbox;
    width: 70%;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}


.card{
    text-align: center;
    box-shadow: 10px 10px 5px lightblue;
    display: flex;
    width: 70%;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

.card:hover{
    transform: scale(1.1)
}

.titprincipal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 50px;
    text-shadow: 0 0 3px #FF0000;
}

.imgnav{
    width: 85px;
}

/* NAVEGADOR DE BOOTSTRAP */

.navbar-collapse{
    text-align: center;
    justify-content: center;
}

/* 
CONTACTO */

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}


.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.imgprod{
    width: 300px;
    position: relative;
    left: 220px;
    justify-content: center;
}

/* ACERCA DE NOSOTROS */

.conte{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

.conte img{
    width: 2200px;
    height: 500px;
    display: flex;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    margin: auto;
}

.conte h1{
    justify-content: space-between;
    position: absolute;
    color: white;
    top: 20%;
    transform: translate(-50% -50%);
    margin: 20px;
    padding: 20px;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    width: 70%;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

.conte p{
    display: flex;
    justify-content: space-between;
    position: absolute;
    color: white;
    top: 50%;
    transform: translate(-50% -50%);
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 70%;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

/* SUCURSALES */

.sucursales{
    text-align: center;
}